/* Mengatur warna latar belakang keseluruhan */
body { 
    background-color: #f4f6f9; 
}

/* Modifikasi tampilan card agar ujungnya melengkung dan memiliki bayangan */
.card-custom { 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0,0,0,0.1); 
}

/* Menyembunyikan elemen info member saat halaman pertama kali dimuat */
#infoMember { 
    display: none; 
}